#project_information {
	width:830px;
	height:202px;
	background-color: white;
	margin:0px auto 0px auto;
	padding: 0px;
	border:1px solid black;
}

#carousel {
	width:830px;
	height:324px;	
	margin:80px auto 0px auto;
	border:1px solid black;
}

#slides {
	/* fix ie overflow issue */
	position:relative;
	width:830px;
	height:306px;
/*	border:9px solid black; */
	
	background-color:black;			
}

/* remove the list styles, width : item width * total items */	
#slides ul {
	list-style:none;
	margin:auto;
	padding:0;	
	width:830px;
	border:1px solid green;
}

/* width of the item, in this case I put 250x250x gif */
#slides li {
	width:250px;
	height:250px;	
	float:left;
	border: 5px;
	margin: 5px; 
}


#slides li img {
	border:5px;
}

#slides li:nth-child(1) {
	border:5px;
}

/* Styling for prev and next buttons */

.clear {clear:both}

#buttons {
	text-align:center;
	background-color: white;
}

#buttons_left {
	width:408px;
	float: left;
	text-align:right;
	border: 1px solid black;
	margin-left:5px;
}
#buttons_right {
	width:408px;
	float: left;
	text-align:left;
	border: 1px solid black;
}

#left {
	margin-right: 5px;
}

#right {
	margin-left: 5px;
}

h1 {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	margin: 0;
	font-size:250%;
}

.app_link {
	text-decoration:none;
	color:black;
}

#trivia_info p, #wishlist_info p, #art_info p, #portfolio47_info p, #wizards_and_spaceships_info p, #legislator_info p, #film_info p {
	text-align: center;
	margin-left:276px;
	width: 276px;
}

#trivia_info span, #wishlist_info span, #art_info span, #portfolio47_info span, #wizards_and_spaceships_info span, #legislator_info span, #film_info span {
	width: 100%;
	text-align: right; 
	font-style:italic;
}

body {
	background-color: gray;
	margin:0;
}



.code_link {
	margin: 0;
	padding: 0;
}

#banner {
background-repeat: repeat-x;
    background-image: url("Portfolio_47.png");
    height:47px;
    width:100%;
}

#contact {
   position:relative;
   top:80px;
   background-image: url("Contact.png");
   height:20px;
   width:680px;
   margin: 0 auto 0 auto;
   paddding: 0;	
}
